.order_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
  .order_card {
    gap: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 886px;
    height: 130px;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    img {
      width: 186px;
      height: 103px;
      border-radius: 10px;
    }
  }
  .order_price {
    display: flex;
    flex-direction: column;
    width: 224px;
    gap: 20px;
    h3 {
      font-family: Montserrat;
      font-weight: 500;
      font-style: Medium;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 3%;
      color: #000;
    }
    p {
      font-family: Montserrat;
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 3%;
      color: #000;
    }
  }
}
.del {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delete {
  width: 188px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #bd1d1d;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #ffffff;
}
.btn_plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 38px;
    border-radius: 10px;
    background-color: #ddaa27;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    border: none;
    color: #000;
  }
  p {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 3%;
    color: #000;
  }
}
button {
  cursor: pointer;
}
