.admin_tema {
  h1 {
    color: black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
.admin {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 40px;
  input {
    width: 650px;
    height: 90px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    padding-left: 40px;
  }
  button {
    width: 250px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    font-size: 30px;
    color: white;
  }
}
