.menu_blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .menu {
    width: 337px;
    height: 380px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    img {
      width: 300px;
      height: 167px;
      border-radius: 10px;
      object-fit: cover;
    }
    h3 {
      font-size: 24px;
      font-weight: 500;
    }
    .btn {
      width: 154px;
      height: 40px;
      border: none;
      border-radius: 10px;
      background-color: #ddaa27;
      font-size: 20px;
      color: white;
      margin-top: 10px;
    }
    .btn1 {
      width: 154px;
      height: 40px;
      border: none;
      border-radius: 10px;
      background-color: red;
      font-size: 20px;
      margin-top: 10px;
      color: white;
    }
  }
}
